<a href="https://colab.research.google.com/github/anagarciasaiz/busqueda_dataset/blob/main/busqueda_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('tweetscovid.csv') 

df.head()

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,retweet_count,country_code,place_full_name,place_type,followers_count,friends_count,account_lang,account_created_at,verified,lang
0,1244051646071611394,860252856829587457,2020-03-29T00:00:00Z,IMSS_SanLuis,"Ante cualquier enfermedad respiratoria, no te ...",TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,1008,41,NaN,2017-05-04T22:00:38Z,False,es
1,1244051645039706112,1125933654943895553,2020-03-29T00:00:00Z,intrac_ccs,#ATENCIÓN En el Terminal Nuevo Circo se implem...,TweetDeck,NaN,NaN,NaN,False,...,1,NaN,NaN,NaN,90,316,NaN,2019-05-08T01:21:16Z,False,es
2,1244051645975191557,80943559,2020-03-29T00:00:00Z,rlieving,“People are just storing up. They are staying ...,TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,136,457,NaN,2009-10-08T21:06:08Z,False,en
3,1244051646750928897,817072420947247104,2020-03-29T00:00:00Z,Tu_IMSS_Coah,"Si empezaste a trabajar, necesitas dar de alta...",TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,1549,170,NaN,2017-01-05T18:17:00Z,False,es
4,1244051647032102914,788863557349670913,2020-03-29T00:00:00Z,Tabasco_IMSS,Una sociedad informada está mejor preparada an...,TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,868,125,NaN,2016-10-19T22:05:03Z,False,es

In [ ]:
df.columns

Index(['status_id', 'user_id', 'created_at', 'screen_name', 'text', 'source',
       'reply_to_status_id', 'reply_to_user_id', 'reply_to_screen_name',
       'is_quote', 'is_retweet', 'favourites_count', 'retweet_count',
       'country_code', 'place_full_name', 'place_type', 'followers_count',
       'friends_count', 'account_lang', 'account_created_at', 'verified',
       'lang'],
      dtype='object')

nos quedamos solo con las columnas que nos interesan

In [ ]:
df.drop(columns=['status_id', 'user_id', 'created_at', 'source',
       'reply_to_status_id', 'reply_to_user_id', 'reply_to_screen_name',
       'is_quote', 'is_retweet','country_code', 'place_full_name', 'place_type', 'followers_count',
       'friends_count', 'account_lang', 'account_created_at', 'verified',
       'lang'],inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564141 entries, 0 to 564140
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   screen_name       564141 non-null  object
 1   text              564141 non-null  object
 2   favourites_count  564141 non-null  int64
 3   retweet_count     564141 non-null  int64
dtypes: int64(2), object(2)
memory usage: 17.2+ MB

In [ ]:
nulos = df.isna().sum()
nulos

screen_name         0
text                0
favourites_count    0
retweet_count       0
dtype: int64

no hay valores nulos

In [ ]:
def limpiar_columnas_constantes(df):
    columnas_constantes = []
    
    for columna in df.columns:
        if df[columna].nunique() == 1:
            columnas_constantes.append(columna)
    
    df = df.drop(columnas_constantes, axis=1)
    
    return df

In [ ]:
df_1 = limpiar_columnas_constantes(df)
print(df_1)

         screen_name                                               text  \
0       IMSS_SanLuis  Ante cualquier enfermedad respiratoria, no te ...
1         intrac_ccs  #ATENCIÓN En el Terminal Nuevo Circo se implem...
2           rlieving  “People are just storing up. They are staying ...
3       Tu_IMSS_Coah  Si empezaste a trabajar, necesitas dar de alta...
4       Tabasco_IMSS  Una sociedad informada está mejor preparada an...
...              ...                                                ...
564136     tmcrypto1  A 3rd #NYPD member dies of #coronavirus after ...
564137   CALcharters  For many students in our state, #COVID19 closu...
564138   npquarterly  Will the #coronavirus pandemic of 2020 come to...
564139     ksharizal  Tahniah #xaffani #xaffanisrikandi semoga our f...
564140    MeL8tleigh  🤦🏻‍♀️ Is there a way to revoke someone’s Twitt...

        favourites_count  retweet_count
0                    300              0
1                   1030              1
2                    604              0
3                   1827              0
4                    723              0
...                  ...            ...
564136              2526              0
564137              4656              2
564138              2916              2
564139              1169              0
564140             35055              0

[564141 rows x 4 columns]

no hay columnas constantes

estos son los cinco tweets con más favs

In [ ]:
df.sort_values('favourites_count', ascending=False).head(5)

,screen_name,text,favourites_count,retweet_count
406841,David_Leavitt,Seeing your friends after the #coronavirus qua...,1536144,48
376557,David_Leavitt,ALL non-Rhode Island plated cards are being pu...,1536125,28
540154,David_Leavitt,People are complaining about another 30 days o...,1536011,527
474146,David_Leavitt,"Literally within hours of each other:\n\n""We’r...",1536011,433
543485,David_Leavitt,WTF are you rambling about @realDonaldTrump?\n...,1536011,176

estos son los cinco tweets con mas rts

In [ ]:
df.sort_values('retweet_count', ascending=False).head(5)

,screen_name,text,favourites_count,retweet_count
398701,AdamMilstein,"#coronavirus News Alert: Dr. Vladimir Zelenko,...",13806,26508
285967,KKMPutrajaya,TERKINI: Dukacita dimaklumkan terdapat satu la...,2055,21518
291528,DineshDSouza,Something doesn’t add up. The global panic and...,646,19357
324303,eileenguo,"#Wuhan residents estimate, based on calculatio...",4660,18744
236019,gautam_adani,ADANI FOUNDATION is humbled to contribute Rs. ...,235,18604